<!-- Static navbar -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Sparts Auto Pricelist</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% if inPage == 'home' %}active{% endif %}"><a href="/home"><i class="fa fa-home"></i> Home</a></li>
                {% if current_user.role == 1000 %}
                <li class="dropdown {% if inPage != 'home' %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> Administration <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="{% if inPage == 'products' %}active{% endif %}"><a href="/admin/products/add"><i class="fa fa-cubes"></i> Products</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Brands</li>
                        <li class="{% if inPage == 'brands' %}active{% endif %}"><a href="/admin/brands"><i class="fa fa-car"></i> Brands</a></li>
                        <li class="{% if inPage == 'brands_categories' %}active{% endif %}"><a href="/admin/brands/categories"><i class="fa fa-files-o"></i> Categories</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="{% if inPage == 'user' %}active{% endif %}"><a href="/admin/user"><i class="fa fa-users"></i> User</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/me/edit"><i class="fa fa-user"></i> {{ current_user.first_name }} {{ current_user.last_name }}</a></li>
                <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>