<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/imports.html" %}
        <title>Products - Administration | Sparts Auto Pricelist</title>
    </head>
    <body>
        {% include "includes/navbar.html" %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Edit product</h2>
                        </div>
                        <div class="panel-body">
                            {% if error %}
                            <div role="alert" class="alert alert-danger">
                                {% for e in error %}
                                <p><i class="fa fa-exclamation-triangle"></i> {{ e }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <form role="form" action="/admin/products/edit/{{ product.id }}" method="post" enctype="multipart/form-data">
                                <fieldset>
                                    <div class="form-group">
                                        <select id="brand_id" class="form-control" name="brand_id" autofocus>
                                            <option value="0">Select Brand</option>
                                            {% for b in brands %}
                                            <option value="{{ b.id }}" {% if product.brand_id == b.id %}selected="selected"{% endif %}>{{ b.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="category_id" class="form-control" name="category_id">
                                            <option value="0">Select Category</option>
                                            {% for c in brands_categories %}
                                            <option value="{{ c.id }}" {% if product.category_id == c.id %}selected="selected"{% endif %}>{{ c.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Part Number" name="part_number" type="text" value="{{ product.part_number }}">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Description" name="desc" rows="3">{{ product.desc }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Price (1234.99)" name="price" type="text" value="{{ "{:.2f}".format(product.price) }}">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Subcategory" name="subcategory" type="text" id="subcategory" value="{{ product.subcategory }}">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Tags" name="tags" rows="3">{{ product.tags }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <input name="pictures" type="file" multiple>
                                        <br />
                                        {% for p in pictures %}
                                        <a href="/admin/products/images/delete/{{ p.id }}">
                                            <img style="width: 50px; height: 50px; margin: 5px" src="/static/img/{{ p.path }}">
                                            <i class="fa fa-trash"></i> Delete this image?
                                        </a>
                                        <br />
                                        {% endfor %}
                                    </div>
                                    <input type="hidden" name="next" value="{{ prev_url }}">
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Edit</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                var availableTags = [
                    {% for c in subcat %}
                    "{{ c.subcategory }}",
                    {% endfor %}
                ];

                $( "#subcategory" ).autocomplete({
                    source: availableTags
                });
            });
        </script>
    </body>
</html>