<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/imports.html" %}
        <title>Products - Administration | Sparts Auto Pricelist</title>
    </head>
    <body>
        {% include "includes/navbar.html" %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Add new product</h2>
                        </div>
                        <div class="panel-body">
                            {% if error %}
                            <div role="alert" class="alert alert-danger">
                                {% for e in error %}
                                <p><i class="fa fa-exclamation-triangle"></i> {{ e }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <form role="form" action="/admin/products/add" method="post" enctype="multipart/form-data">
                                <fieldset>
                                    <div class="form-group">
                                        <select id="brand_id" class="form-control" name="brand_id" autofocus>
                                            <option value="0">Select Brand</option>
                                            {% for b in brands %}
                                            <option value="{{ b.id }}">{{ b.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="category_id" class="form-control" name="category_id">
                                            <option value="0">Select Category</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Part Number" name="part_number" type="text">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Description" name="desc" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Price (1234.99)" name="price" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Subcategory" name="subcategory" type="text" id="subcategory">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Tags" name="tags" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input name="pictures" type="file" multiple>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Add</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                var availableTags = [
                    {% for c in subcat %}
                    "{{ c.subcategory }}",
                    {% endfor %}
                ];

                $( "#subcategory" ).autocomplete({
                    source: availableTags
                });
            });
        </script>
    </body>
</html>