<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/imports.html" %}
        <title>User - Administration | Sparts Auto Pricelist</title>
    </head>
    <body>
        {% include "includes/navbar.html" %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">User List</h2>
                        </div>
                        <div class="panel-body">
                            <a href="/admin/user/add"><i class="fa fa-plus-circle"></i> Add user</a>
                            <br />
                            <br />
                            <div class="list-group">
                                {% for u in users %}
                                <a class="list-group-item" href="/admin/user/{{ u.id }}">
                                    <h4 class="list-group-item-heading">{{ u.username }}</h4>
                                    <p class="list-group-item-text">{{ u.email }}</p>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>