<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/imports.html" %}
        <title>User - Administration | Sparts Auto Pricelist</title>
    </head>
    <body>
        {% include "includes/navbar.html" %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Add new user</h2>
                        </div>
                        <div class="panel-body">
                            {% if error %}
                            <div role="alert" class="alert alert-danger">
                                {% for e in error %}
                                <p><i class="fa fa-exclamation-triangle"></i> {{ e }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <form role="form" action="/admin/user/add" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Username" name="username" type="text" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Email" name="email" type="email">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="First Name" name="first_name" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Last Name" name="last_name" type="text">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" name="about" placeholder="About"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" name="address" placeholder="Address"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Contact No" name="contact" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="password1" type="password" value="">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Confirm Password" name="password2" type="password" value="">
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Add</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>