<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/imports.html" %}
        <title>User - Administration | Sparts Auto Pricelist</title>
    </head>
    <body>
        {% include "includes/navbar.html" %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">User - {{ user.username }}</h2>
                        </div>
                        <div class="panel-body">
                            <form role="form" action="/admin/user/{{ action_uri }}" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Email" name="email" type="email" value="{{ user.email }}" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="First Name" name="first_name" type="text" value="{{ user.first_name }}">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Last Name" name="last_name" type="text" value="{{ user.last_name }}">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" name="about" placeholder="About">{{ user.about }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" name="address" placeholder="Address">{{ user.address }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Contact No" name="contact" type="text" value="{{ user.contact }}">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Old Password" name="password1" type="password" value="">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="New Password" name="password2" type="password" value="">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Confirm New Password" name="password3" type="password" value="">
                                    </div>
                                    <p><i class="fa fa-exclamation-triangle"></i> Only fill in current password to change new password</p>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Edit</button>

                                    <br />
                                    <a href="/admin/user/delete/{{ user.id }}"><i class="fa fa-trash"></i> Delete this user</a>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>