<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/imports.html" %}
        <title>Brands - Administration | Sparts Auto Pricelist</title>
    </head>
    <body>
        {% include "includes/navbar.html" %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Brand - {{ brand.name }}</h2>
                        </div>
                        <div class="panel-body">
                            <form role="form" action="/admin/brands/{{ action_uri }}" method="post" enctype="multipart/form-data">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Brand Name" name="name" type="text" value="{{ brand.name }}" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input name="logo" type="file">
                                        <br />
                                        <img class="img-responsive" src="/static/img/{{ brand.logo }}" style="height: 100px;">
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Edit</button>
                                    <br />
                                    <a href="/admin/brands/delete/{{ brand.id }}"><i class="fa fa-trash"></i> Delete this brand</a>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>