<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/imports.html" %}
        <title>Categories - Administration | Sparts Auto Pricelist</title>
    </head>
    <body>
        {% include "includes/navbar.html" %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Category - {{ brands_categories.name }}</h2>
                        </div>
                        <div class="panel-body">
                            <form role="form" action="/admin/brands/categories/{{ action_uri }}" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Category Name" name="name" type="text" value="{{ brands_categories.name }}" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="brand_id">
                                            <option>Select Brand</option>
                                            {% for b in brands %}
                                            <option value="{{ b.id }}" {% if brands_categories.brand_id == b.id %}selected="selected"{% endif %}>{{ b.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Edit</button>
                                    <br />
                                    <a href="/admin/brands/categories/delete/{{ brands_categories.id }}"><i class="fa fa-trash"></i> Delete this category</a>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>