<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/imports.html" %}
        <title>Brands - Administration | Sparts Auto Pricelist</title>
    </head>
    <body>
        {% include "includes/navbar.html" %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Brands List</h2>
                        </div>
                        <div class="panel-body">
                            <a href="/admin/brands/add"><i class="fa fa-plus-circle"></i> Add brand</a>
                            <br />
                            <br />
                            <div class="list-group">
                                {% for b in brands %}
                                <a class="list-group-item" href="/admin/brands/{{ b.id }}">
                                    <h4 class="list-group-item-heading">{{ b.name }}</h4>
                                    <p class="list-group-item-text">
                                        <img class="img-responsive" src="/static/img/{{ b.logo }}" style="height: 100px;">
                                    </p>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>