<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/imports.html" %}
        <title>Categories - Administration | Sparts Auto Pricelist</title>
    </head>
    <body>
        {% include "includes/navbar.html" %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Add new category</h2>
                        </div>
                        <div class="panel-body">
                            {% if error %}
                            <div role="alert" class="alert alert-danger">
                                {% for e in error %}
                                <p><i class="fa fa-exclamation-triangle"></i> {{ e }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <form role="form" action="/admin/brands/categories/add" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Category Name" name="name" type="text" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="brand_id">
                                            <option>Select Brand</option>
                                            {% for b in brands %}
                                            <option value="{{ b.id }}">{{ b.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Add</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>