<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/imports.html" %}
        <title>Categories - Administration | Sparts Auto Pricelist</title>
    </head>
    <body>
        {% include "includes/navbar.html" %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Categories List</h2>
                        </div>
                        <div class="panel-body">
                            <a href="/admin/brands/categories/add"><i class="fa fa-plus-circle"></i> Add category</a>
                            <br />
                            <br />
                            <div class="list-group">
                                {% for b in brands_categories %}
                                <a class="list-group-item" href="/admin/brands/categories/{{ b.id }}">
                                    <h4 class="list-group-item-heading">{{ b.name }}</h4>
                                    <p class="list-group-item-text">
                                        Brand: {{ b.brands.name }}
                                    </p>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>