<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/imports.html" %}
        <title>Brands | Sparts Auto Pricelist</title>
    </head>
    <body>
        {% include "includes/navbar.html" %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">{{ brand.name }}</h2>
                        </div>
                        <div class="panel-body">
                            <img class="img-responsive" src="/static/img/{{ brand.logo }}" style="height: 100px;">
                            <br />
                            <div class="list-group">
                                {% for b in brands_categories %}
                                <a class="list-group-item" href="/brand/{{ brand.id }}/category/{{ b.id }}/page/1">
                                    <h4 class="list-group-item-heading">{{ b.name }}</h4>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>