<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/imports.html" %}
        <title>Products | Sparts Auto Pricelist</title>
    </head>
    <body>
        {% include "includes/navbar.html" %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a href="/brand/{{ brand.id }}">{{ brand.name }}</a>
                                <i class="fa fa-angle-double-right"></i> {{ category.name }}
                            </h2>
                        </div>
                    </div>

                    <div class="center-block text-center">
                        <img class="img-responsive" style="margin: 0 auto;" src="/static/img/{{ brand.logo }}">
                    </div>
                    <br />
                    {% for p in products %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">{{ p["subcategory"] }}</h2>
                        </div>
                        <div class="panel-body">
                            <div data-ride="carousel" class="carousel slide" id="pictures_{{ p["id"] }}">
                                <ol class="carousel-indicators">
                                    {% for i in p["pictures"] %}
                                    <li class="{% if loop.index == 1 %}active{% endif %}" data-slide-to="{{ loop.index0 }}" data-target="#pictures_{{ p["id"] }}"></li>
                                    {% endfor %}
                                </ol>
                                <div role="listbox" class="carousel-inner">
                                    {% for i in p["pictures"] %}
                                    <div class="item {% if loop.index == 1 %}active{% endif %}">
                                        <img style="margin: 0 auto;" src="/static/img/{{ i.path }}" data-holder-rendered="true">
                                    </div>
                                    {% endfor %}
                                </div>
                                <a data-slide="prev" role="button" href="#pictures_{{ p["id"] }}" class="left carousel-control">
                                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a data-slide="next" role="button" href="#pictures_{{ p["id"] }}" class="right carousel-control">
                                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Part Number:</strong> {{ p["part_number"] }}</li>
                                <li class="list-group-item"><strong>Description:</strong> {{ p["desc"] }}</li>
                                <li class="list-group-item"><strong>Price:</strong> {{ "RM {:,.2f}".format(p["price"]) }}</li>
                                <li class="list-group-item"><strong>Tags:</strong> {{ p["tags"] }}</li>
                            </ul>
                            {% if current_user.role == 1000 %}
                            <a href="/admin/products/edit/{{ p["id"] }}"><i class="fa fa-pencil-square"></i> Edit this product</a> | <a href="/admin/products/delete/{{ p["id"] }}"><i class="fa fa-trash"></i> Delete this product</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}

                    {% if total_page > 0 %}
                    <nav>
                        <ul class="pagination pagination-lg">
                            {% if page - 1 < 1 %}
                            <li class="disabled">
                                <span><span aria-hidden="true">&laquo;</span></span>
                            </li>
                            {% else %}
                            <li>
                                <a href="{{ page_url }}{{ page - 1 }}" aria-label="Prev">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}

                            {% for x in range(total_page) %}
                            <li class="{% if page == loop.index %}active{% endif %}"><a href="{{ page_url }}{{ loop.index }}">{{ loop.index }}</a></li>
                            {% endfor %}

                            {% if page + 1 > total_page %}
                            <li class="disabled">
                                <span><span aria-hidden="true">&raquo;</span></span>
                            </li>
                            {% else %}
                            <li>
                                <a href="{{ page_url }}{{ page + 1 }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>