<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/imports.html" %}
        <title>Home | Sparts Auto Pricelist</title>
    </head>
    <body>
        {% include "includes/navbar.html" %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" id="search" placeholder="Search (type and hit enter)">
                        </div>
                    </div>
                    <br />
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Our Brands</h2>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                {% for b in brands %}
                                <a class="list-group-item" href="/brand/{{ b.id }}">
                                    <h4 class="list-group-item-heading">{{ b.name }}</h4>
                                    <p class="list-group-item-text">
                                        <img class="img-responsive" src="/static/img/{{ b.logo }}" style="height: 100px;">
                                    </p>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>