<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/imports.html" %}
        <title>Login | Sparts Auto Pricelist</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <p></p>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Sparts Auto Pricelist</h2>
                        </div>
                        <div class="panel-body">
                            <form role="form" action="/" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Username" name="username" type="text" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                                </fieldset>
                            </form>
                        </div>
                        <div class="panel-footer">
                            <p style="margin: 0; font-size: 12px">Copyright &copy; 2016 Sparts Auto</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>