<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/imports.html" %}
        <title>User | Sparts Auto Pricelist</title>
    </head>
    <body>
        {% include "includes/navbar.html" %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">User - {{ current_user.username }}</h2>
                        </div>
                        <div class="panel-body">
                            {% if success %}
                            <div role="alert" class="alert alert-success">
                                <p>Your profile has been successfully updated.</p>
                            </div>
                            {% endif %}
                            <form role="form" action="/me/edit" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Email" name="email" type="email" value="{{ current_user.email }}" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="First Name" name="first_name" type="text" value="{{ current_user.first_name }}">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Last Name" name="last_name" type="text" value="{{ current_user.last_name }}">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" name="about" placeholder="About">{{ current_user.about }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" name="address" placeholder="Address">{{ current_user.address }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Contact No" name="contact" type="text" value="{{ current_user.contact }}">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Old Password" name="password1" type="password" value="">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="New Password" name="password2" type="password" value="">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Confirm New Password" name="password3" type="password" value="">
                                    </div>
                                    <p><i class="fa fa-exclamation-triangle"></i> Only fill in current password to change new password</p>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Edit</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>